<div class="sketchfab-embed-wrapper"><iframe width="1200" height="800" src="https://sketchfab.com/models/48c02b33c7534d83977475fa064167fc/embed?autostart=1" frameborder="0" allowvr allowfullscreen mozallowfullscreen="true" webkitallowfullscreen="true" onmousewheel=""></iframe></div>